@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>E Prescription provides a secure way to electronically connect patients, healthcare providers pharmacists and pharmacy.</p>
<p>E Prescribing is a prescriber's ability to electronically send an accurate, error-free and understandable prescription directly to a pharmacy from the point-of-care - is an important element in improving the quality of patient care.</p>
<p> E-prescribing allows a physician, nurse practitioner, or physician assistant to electronically transmit a new prescription or renewal authorization to a community or mail-order pharmacy.</p>
<p>It outlines the ability to send error-free, accurate, and understandable prescriptions electronically from the healthcare provider to the pharmacy.</p>
<p>It is meant to reduce the risks associated with traditional prescription script writing. It is also one of the major reasons for the push for electronic medical records.</p>
