@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>E Prescription</h1>
    <p class="lead">Secure way to electronically connect patients, healthcare providers, pharmacists and pharmacy.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Prescription benefit</h2>
        <p>
            E Prescription ensures that each patient can be able to selsct his/her Pharmacy of choice.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Prescription history</h2>
        <p>E Prescription application will be able to keep a history of prescription for efficiency and security.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Prescription routing</h2>
        <p>Prescription can be routed to any of the registered Pharmacy providers of choice</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>